<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Basketball Analysis</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">

</head>
<body>

<!-- Navbar -->
<header th:fragment="topnav">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">
                <div style="background-color: #d3d3d3; border-radius: 15%; width: 2em; height: 2em; display: inline-block; justify-content: center; align-items: center;">
                    <img th:src="${'/img/deepfij.png'}"
                         src="https://raw.githubusercontent.com/fijimf/deepfij-2012/master/deepfij-web/src/main/webapp/images/deepfij.png"
                         alt="icon" style="max-width: 100%; max-height: 100%; border-radius: 50%;padding-left: 2px;">
                </div>

            </a>
            <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dataDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data</a>
                        <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dataDropdown">
                            <a class="dropdown-item" href="/team">Teams</a>
                            <a class="dropdown-item" href="/data/games/index">Games</a>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link" href="/stats/index">Stats</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/analysis/index">Analysis</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="adminDropdown">
                            <a class="dropdown-item" href="/admin/user/index">Users</a>
                            <a class="dropdown-item" href="/admin/scrape/index">Scraping</a>
                        </div>
                    </li>
                </ul>

            </div>
            <div sec:authorize="isAnonymous()" class="navbar-nav ml-auto">
                <div class="nav-item">
                    <div class="d-flex">
                        <div>
                            <a class="nav-link" href="/login">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
                <div class="nav-item dropdown">
                    <div class="d-flex">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.name}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/logout">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Sidebar -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="nav-link" style="font-weight: bold;font-size:110%;">
                            <span class="bi bi-people"></span>
                            <span>Users</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Edit
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" style="font-weight: bold;font-size:110%;">
                            <span class="bi bi-cloud-download"></span>
                            <span>Scraping</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Conferences
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Teams
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Seasons
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">College Basketball Analysis</h1>
            </div>
            <div class="hero-block bg-primary text-light py-5">
                <div class="container text-center">
                    <h1 class="display-4">Welcome to Deep Fij</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse
                        lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
                </div>
            </div>

        </main>
    </div>
</div>
</body>
</html>

