<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Deep Fij</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.2/dist/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/deepfij.css">
</head>
<body  >
<header th:replace="~{common/topnav::topnav}"></header>

<div class="deepfij-base container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 card">
            <div class="card-body">
                <h2 class="card-title">Sign up</h2>
                <div th:if="${flash}" th:text="${flash}" class="alert alert-info">
                    Informational message
                </div>
                <div th:if="${error}" th:text="${error}" class="alert alert-danger">
                    Error message.
                </div>
                <form th:action="@{/signup}" method="post">
                    <div class="w-75">
                        <label class="form-label w-100">Email Address<input class="form-control" type="text"
                                                                            name="email"/>
                        </label>
                    </div>
                    <div class="w-75">
                        <label class="form-label w-100">User Name<input class="form-control" type="text"
                                                                        name="username"/>
                        </label>
                    </div>
                    <div class="w-75">
                        <label class="form-label w-100">Password<input class="form-control" type="password"
                                                                       name="password"/>
                        </label>
                    </div>
                    <div class="w-75 pt-3 pt-3">
                        <input class="form-control btn-primary p-1" type="submit" value="Signup"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>