<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Deep Fij</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.2/dist/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/deepfij.css">
</head>
<body style="background-color: #000;">
<header th:replace="~{common/topnav::topnav}"></header>

<div class="jumbotron jumbotron-fluid" >
    <div class="container" >
        <h1 class="display-1">Welcome to DEEP FIJ, BITCHEZ!</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <h2 class="display-4">Data</h2>
                    <p>We keep the last 10 seasons of game results. Nothing special, just games, dates and scores. We
                        scrape the current season in not quite realtime.</p>
                </div>
                <div class="row">
                    <h2 class="display-4">Statistics</h2>
                    <p>We generate some pretty unsophisticated rudimentary stats from those scores.</p>
                </div>
                <div class="row">
                    <h2 class="display-4">Analysis</h2>
                    <p>We try to use the latest in AI/ML opensource technology to analyze and predict the current
                        season.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

