<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Deep Fij</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.2/dist/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/deepfij.css">
</head>
<body>
<header th:replace="~{common/topnav::topnav}"></header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Deep Fij</h1>
        <p class="lead">Deep Fij is your one stop shop for half-assed college basketball data, statistics and analysis.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Data</h2>
            <p>We keep the last 10 seasons of game results.  Nothing special, just games, dates and scores.  We scrape the current season in not quiote realtime.</p>
        </div>
        <div class="col-lg-4">
            <h2>Statistics</h2>
            <p>We generate some pretty unsophisticated rudimentary stats from those scores.</p>
        </div>
        <div class="col-lg-4">
            <h2>Analysis</h2>
            <p>We try to use the latest in AI/ML opensource technology to analyze and predict the current season.</p>
        </div>
    </div>
</div>
</body>
</html>

