<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Deep Fij</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.2/dist/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/deepfij.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="/js/gamesScatter.js"></script>
</head>
<body>
<header th:replace="~{common/topnav::topnav}"></header>
<div class="container">
    <div class="row">
        <h1 style=" font-family: 'Bevan', serif;" >Teams</h1>
    </div>
    <div class="row">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap">
            <div style="flex:1 200px" th:each="team: ${teams}">
                <img class="p-1" style="object-fit:contain; height: 1.6em;" th:src="${team.getLogoUrl()}" alt="Logo 1">
                <a th:text="${team.getName()}" th:href="${'/team/'+team.getKey()}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>