<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    <img src="deepfij.png" alt="logo-img" th:src="|cid:${imageResourceName}|"/>
</p>
<p>Hi <span th:text="${name}"></span></p>
<p>You deepfij password was recntly changed.  Hopefully this was you.  But let's be serious --
even if it wasn't you, it's not like it was missile launch codes now was it?</p>

<h3>FRIDGE RULES</h3>
</body>
</html>